* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	background: linear-gradient(to right top, #050e51, #2c8f80);
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: rgb(255, 255, 255);
}

.title {
	font-size: 35px;
	color: rgb(209, 12, 12);
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	margin: 1rem 0rem 2rem 0rem;
	background-color: rgb(27, 27, 27);
	align-items: center;
	min-height: 10vh;
	text-align: center;
}

.infoCard {
	display: flex;
	height: 10vh;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid rgb(0, 0, 0);
	margin: 1rem 0rem;
}

.info {
	width: 100%;
	justify-content: space-evenly;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.form {
	background: linear-gradient(
		to right bottom,
		rgba(27, 18, 18, 0.7),
		rgba(214, 209, 209, 0.3)
	);
  padding: 3rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form {
  width: 90%;
  height: 100%;
	display: flex;
  gap: 1rem;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 2rem;
}

.form form input
{
	padding-left: 10px;
	font-size: 23px;
  border-radius: 1rem;
}

.editForm {
background: linear-gradient(
		to right bottom,
		rgba(27, 18, 18, 0.7),
		rgba(214, 209, 209, 0.3)
	);
  padding: 1rem;
}

.editForm form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 2rem;
}

.editForm form input {
  padding-left: 10px;
}



.modalBtn{
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between
}

.formBtn{
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-around
}