*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
display: flex;
flex-direction: column;
height: 100vh;
background-image: linear-gradient(to bottom, #434343 0%, black 100%);
color: white;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

.infoCard{
  display: flex;
  height:15vh;
  flex-direction:row;
  justify-content: space-between;
  border-bottom: 1px solid red;
  margin-top: 1rem;
}

.info{
  width: 100%;
  justify-content: space-evenly
}

.buttons{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
}

.form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formControl{

  display: flex;
  flex-direction: row;
  justify-content:space-around
}